nav
    width: calc(100vw - 200px)
    max-width: 1360px
    display: flex
    margin: 0 auto
    position: relative
    height: 70px
    z-index: 100

    .logo
        position: absolute
        top: 10px


    .nav__left
        margin-left: 170px

    .nav__right
        margin-left: auto

    .nav__left, .nav__right
        list-style: none
        display: flex
        flex-direction: row
        align-items: center
    
        a
            font-weight: 600
            text-decoration: none
            color: #000000
            padding-left: 20px

            &:first-child
                padding-left: 0

            &:hover
                text-decoration: underline


[aria-current]:not([aria-current="false"])
    color: green
