nav
    width: calc(100vw - 200px)
    max-width: 1360px
    display: flex
    margin: 0 auto
    position: relative
    height: 70px
    z-index: 100

    @media only screen and (max-width: 1023px)
        width: calc(100vw - 100px)

    @media only screen and (max-width: 599px)
        width: calc(100vw - 40px)

    .logo
        position: absolute
        top: 10px
        transform: rotate(0deg)
        transition: transform 0.2s ease
        cursor: pointer

        &:hover
            cursor: pointer
            transform: rotate(-14deg)
            transform-origin: center
            transition: transform 0.2s ease

    .instragram
        transform: scale(1.0)
        transition: transform 0.2s ease

        &:hover
            transform: scale(0.9)
            transform-origin: center
            transition: transform 0.2s ease

    .coming-soon
        opacity: 0.5

        &:hover
            cursor: auto
            text-decoration: none !important


    .nav__left
        margin-left: 170px

    .nav__right
        margin-left: auto

        @media only screen and (max-width: 599px)
            margin-right: 0

    .nav__left, .nav__right
        list-style: none
        display: flex
        flex-direction: row
        align-items: center
    
        a
            font-weight: 600
            text-decoration: none
            color: #000000
            padding-left: 20px
            display: flex
            flex-direction: column

            &:first-child
                padding-left: 0

            &:hover
                text-decoration: underline


    [aria-current]:not([aria-current="false"])
        text-decoration: underline

.nav__mobile
    
    @media only screen and (min-width: 600px)
        display: none !important

.nav__desktop
    
    @media only screen and (max-width: 599px)
        display: none !important


.nav__mobile--large
    
    @media only screen and (min-width: 1024px)
        display: none !important

.nav__desktop--large
    
    @media only screen and (max-width: 1023px)
        display: none !important

.navbar-toggle
    background: transparent
    border: 0
    cursor: pointer

    &.active
        .icon-bar

            + .icon-bar
                margin-top: 0

            &:nth-child(1)
                transform: translateY(2px), rotate(45deg)

            &:nth-child(2)
                width: 0

            &:nth-child(3)
                transform: translateY(-2px), rotate(-45deg)

    &:focus
        outline: none

    &:hover
        .icon-bar
            background: #a9a9a9

            + .icon-bar
                margin-top: 6px

    .icon-bar
        width: 25px
        height: 2px
        background: #000
        transform-origin: 50% 50%
        display: block
        transition: 0.2s ease-in-out all

        + .icon-bar
            margin-top: 3px

.modaal-fullscreen .modaal-close
    background: transparent

    &:before, &:after
        background: #FFFFFF

.modaal-inline
    .modaal-container
        .modaal-content
            width: 100%
            max-width: 800px
            margin: 0 auto
            height: 100%

            .modaal-content-container
                display: flex
                flex-direction: column
                justify-content: space-between
                height: 100%


.sr-only
    position: absolute
    width: 1px
    height: 1px
    padding: 0
    margin: -1px
    overflow: hidden
    clip: rect(0,0,0,0)
    border: 0


.highlight-menu
    padding: 0
    margin-bottom: 30px

    li
        list-style: none
        text-align: left

        a
            font-weight: 700
            color: #FFFFFF
            letter-spacing: em(5.3, 40)
            line-height: em(43, 40)
            text-transform: uppercase
            border: 0
            display: block
            padding: 14px 0

        .modaal-content-container &
            @media (min-width: 600px)
                font-size: em(40)

        span
            display: inline-block
            position: relative
            padding: 0 10px

        &:after
            position: absolute
            display: block
            content: ""
            top: 0
            bottom: 0
            left: 0
            right: 100%
            background: #a9a9a9
            transition: transform 0.2s ease
            z-index: -1

        &:hover, &:focus
            // color:#fff

            span
                
                &:after
                    right: 0
