body
  background-color: #FFFFFF
  color: #333
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif
  padding: 18vh 1rem
  text-align: center

a
  color: rgba(#000, 0.7)

  &:focus,
  &:hover
    color: rgba(#000, 0.6)



.grid
  display: grid
  height: 1000px
  grid-template-columns: repeat(auto-fit, 1fr)
  grid-template-rows: repeat(auto-fit, 250px)
  grid-auto-flow: column dense
  margin: -10px

.item
  margin: 2px
  min-width: 250px
  background: #C0D9D7
  display: flex
  align-items: center
  justify-content: center

.item-large
  grid-column: span 2
  grid-row: span 2

.item-menu
  grid-column-start: 3
  grid-column-end: 99
  grid-row: span 2
  background: #fff
  border: solid 1px
  background: none !important



$colors: red, orange, yellow, green, blue, purple
$repeat: 20  // How often you want the pattern to repeat.
// Warning: a higher number outputs more CSS.

@for $i from 1 through $repeat
  .item:nth-child(#{length($colors)}n+#{$i})
    background: lighten(nth($colors, random(length($colors))), 20%)