<!doctype html>
<html>
  <%= partial "partials/head" %>
  <body>
    <%= partial "partials/navigation" %>
    <div class="internal__wrapper">
      <%= yield %>
    </div>
    <%= partial "partials/footer" %>
  </body>
</html>
