---
title: Urban Plate
layout: internal
ogp:
  og:
    description: 'Modern, delicious and creative vego food.'
    image:
      '': https://www.urbanplate.co/images/recipes/pulled-mushrooms-e3e3192d.png
      secure_url: https://www.urbanplate.co/images/recipes/pulled-mushrooms-e3e3192d.png
      type: image/png
      width: 1200
      height: 630
  fb:
    description: 'Modern, delicious and creative vego food'
    image:
      '': https://www.urbanplate.co/images/recipes/pulled-mushrooms-e3e3192d.png
      secure_url: https://www.urbanplate.co/images/recipes/pulled-mushrooms-e3e3192d.png
      type: image/png
      width: 1200
      height: 630
---

<!doctype html>
<html>
  <%= partial "partials/head" %>
  <body>
    <%= partial "partials/navigation-home" %>
    <%= yield %>
    <%= partial "partials/footer" %>
  </body>
</html>
