.internal__wrapper
    width: calc(90vw)
    max-width: 1360px
    margin: 0 auto
    padding: 100px 0

    h1
        text-transform: uppercase
        width: 840px
        color: #1E1E1E
        margin-top: 0

    a
        color: #1E1E1E
        text-decoration: underline
        font-weight: 600

    .main_copy
        column-count: 2
        column-gap: 60px
        margin-top: 70px

        @media only screen and (max-width: 1024px)
            column-count: 1
            column-gap: 0

        p:not(:first-child)
            margin-top: 20px



    .pantry__wrapper
        display: grid
        grid-gap: 1rem
        grid-template-columns: repeat(auto-fill, minmax(370px, auto))
        grid-auto-rows: minmax(26vh, auto)

    .pantry__list

        ul
            margin: 0
            border: 6px solid #000000
            padding: 0
            list-style-type: none

            li
                padding: 10px
                color: #201e1f
                font-weight: 600
                border-bottom: 2px solid #000000
                display: flex
                align-items: center

                &:last-child
                    border-bottom: 0

            .musthave::after
                content: "Must Have"
                font-weight: 800
                text-transform: uppercase
                font-size: 10px
                color: #0000ee
                margin-left: 5px



        