<table>
  <% current_page.data.ingredients.each do |ingredient, amount| %>
    <tr>
      <td>
        <%= amount %>
      </td>
      <td>
        <%= ingredient %>
      </td>
    </tr>
  <% end %>
</table>

<div class="instagram__info">
  Follow us on Instagram <a href="#">@UrbanPlate</a> and tag your dishes with <a href="#">#UrbanPlate</a> to win some cool shit.
</div>
