<table id="ingredient__list">
  <% current_page.data.ingredients.each do |ingredient, amount| %>
    <tr>
      <td>
        <%= amount %>
      </td>
      <td>
        <%= ingredient %>
      </td>
    </tr>
  <% end %>
</table>
<button class="ingredients__copy clipboard" data-clipboard-action="copy" data-clipboard-target="#ingredient__list">
  <%= image_tag 'icons/clipboard.svg' %>
  Copy list to clipboard
</button>

<div class="instagram__info">
  Follow us on Instagram <a href="https://www.instagram.com/urbanplateco/" target="_blank">@UrbanPlateCo</a> and tag your dishes with <a href="https://www.instagram.com/urbanplateco/" target="_blank">#UrbanPlate</a> to win some cool shit.
</div>
