<ul>
  <% current_page.data.steps.each do |recipe_description| %>
    <li>
      <% count = current_page.data.steps.count %>
      <span class="recipe__step">Step <%= count %></span>
      <%= recipe_description %>
    </li>
  <% end %>
</ul>
