<ul>
  <% current_page.data.steps.each_with_index do |recipe_description, index| %>
    <li>
      <span class="recipe__step">Step <%= index + 1 %></span>
      <%= recipe_description %>
    </li>
  <% end %>
</ul>
