<nav>
    <div class="nav__right">
        <%= current_link_to "Store (Coming Soon)", "#", class: "coming-soon" %>
        <%= current_link_to "The Pantry", "/the_pantry/" %>
        <%= current_link_to "About", "/about/" %>
        <% link_to 'http://instagram.com/urbanplateco', class: "instragram", target: "_blank" do %>
            <%= image_tag 'icon_instagram.svg', :width => '22' %>
        <% end %>
        <a href="#navbar-toggle" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="sr-only">Toggle Navigation Menu</span>
        </a>
    </div>
</nav>

<div id="navbar-toggle" style="display:none;">
    <ul class="highlight-menu">
        <li><a href="/" title="Home"><span>Home</span></a></li>
        <li><a href="/about" title="About"><span>About</span></a></li>
        <li><a href="/calendar" title="Events Calendar"><span>Calendar</span></a></li>
        <li><a href="/projects/deployment/info/" title="Deployment"><span>Deployment</span></a></li>
        <li><a href="/blog" title="Blog"><span>Blog</span></a></li>
        <li><a href="/code-of-conduct" title="Code of Conduct"><span>Code of Conduct</span></a></li>
        <li><a href="/call-for-speakers" title="Submit a talk"><span>Submit a talk</span></a></li>
    </ul>
</div>