<nav>
    <div class="nav__right">
        <%= current_link_to "Store (Coming Soon)", "#", class: "coming-soon" %>
        <%= current_link_to "The Pantry", "/the_pantry/" %>
        <%= current_link_to "About", "/about/" %>
        <% link_to 'http://instagram.com/urbanplateco', class: "instragram", target: "_blank" do %>
            <%= image_tag 'icon_instagram.svg', :width => '22' %>
        <% end %>
    </div>
</nav>