---
title: 'Urban Plate: 404'
layout: internal
---

<div id="wrapper__404">
    <%= image_tag 'image_404.svg'%>
    <h2>
        Well you’ve broken something… it definitely wasn’t me.
    </h2>
    <p>404 error: Unfortunately something has gone wrong and you've ended up at a broken link. Head to another page, or if you think this is legit broken, shoot me a <a href="mailto:corey@ginnivan.net?subject=🚨 You've done goofed, Corey">message</a> and I'll get on it!</p>
</div>