---
title: Urban Plate - About Us
meta_description: Who is behind Urban Plate and why does it exist
layout: internal
---

<style>
body {
    background-color: #C0D9D7;
}
</style>

<h1>
    Who and what is Urban Plate?
</h1>
<h2>
    Hey there!
</h2>
<h2>
    Welcome to Urban Plate, my name is <a href="https://twiter.com/CoreyGinnivan" target="_blank">Corey Ginnivan</a> and I'm the man behind everything you see and eat. By day I'm a Product Designer and by night I creep near the frypan and continue the creativity flowing by messing around with dishes that I love to eat.
</h2>
<div class="main_copy">
    <p>
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    </p>
    <p>
        Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>
        Sum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
</div>


