---
title: Urban Plate: About Us
layout: internal
---

<style>
body {
    background-color: #C0D9D7;
}
</style>

<h1>
    Who and what is Urban Plate?
</h1>
<h2>
    Hey there!
</h2>
<h2>
    Welcome to Urban Plate, my name is <a href="https://twitter.com/CoreyGinnivan" target="_blank">Corey Ginnivan</a> and I'm the person behind everything you see and eat here. By day I'm a Product Designer (based in Perth, Australia) and by night I creep near the frypan and continue to the let the creativity flow by messing around with dishes that I love to eat.
</h2>
<div class="main_copy">
    <p>
        When most people think of Australia, they think of a bush or desert with millions of critters trying to kill you. Despite that mostly being true, it's also an amazing country to grow up in and to experience. Australia has become an amalgamation of cultures and cuisines, only recently finding it's legs in the culinary world and making a name for itself.
    </p>
    <p>
        I love messing around in the kitchen, it's amazing way to unwind, be creative, an excuse to crack open a cold one, and to just lose yourself. Not to mention get a tasty meal out of it (most times) at the end.
    </p>
    <p>
        My day-to-day job is about using creativity and design to solve problems. I take this methodology in to the kitchen - I try and make food combinations work together and be a bit different. Just like design, there's no one way to do something. You can break down meals in to components and figure out how and why certain foods work together and then what you can do with them.
    </p>
    <p>
        Vegetarian dishes mostly have a bad rap of just being a boring salad or rabbit food, but in reality it's so much more. I wasn't always a vego, so I'm taking the aspects of a post-carnivore ideas in to the meals I eat today - filling, punchy and creative dishes.
    </p>
    <p>
        Feel free to hit me up on <a href="https://twitter.com/CoreyGinnivan" target="_blank">Twitter</a> or shoot me an <a href="mailto:corey@ginnivan.net?subject=Hi Corey 👋" target="_blank">email</a> if you have questions, feedback, recommendations, improvements or just wanna say g'day!
    </p>
</div>


