---
title: Welcome to Middleman
---

<div class="grid">
	<div class="item item-large">item-large</div>
	<div class="item item-menu">item-span</div>
</div>
<div class="grid">
	<div class="item">item 1</div>
	<div class="item">item 2</div>
	<div class="item">item 3</div>
	<div class="item">item 4</div>
	<div class="item">item 5</div>
	<div class="item">item 6</div>
	<div class="item">item 7</div>
	<div class="item">item 8</div>
	<div class="item">item 9</div>
	<div class="item">item 10</div>
</div>

Hello

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
