---
title: Urban Plate - Simple but impressive vego dishes
meta_description: Connecting web, creative and digital communities &amp; unearthing local talent across Australia.
---

<div class="header">
  <%= image_tag 'logo_urbanplate.svg', :width => '150', :class => 'logo' %>
  <h2>
    Simple vego food that tastes delicious, is easy to make, and will impress anyone that sits in-front of them. This isn’t your usual vegetarian site.
  </h2>

</div>

<div class="wrapper">
  <% page_articles.each_with_index do |article, i| %>
    <% accent = article.data.accent%>
    <% accent_alt = article.data.accent_alt %>
    <% link_to(article.url, :style => "background-color: ##{accent}", :class => "wrapper__recipe") do %>
      <h3><%= article.title %></h3>
      <p style="color: #<%= accent_alt %>"><%= article.data.subtext %></p>
    <% end %>
  <% end %>
</div>


