---
title: Urban Plate - The Pantry
layout: internal
---

<style>
body {
    background-color: #f4d3c4;
}
</style>


<h1>
    The Pantry
</h1>
<h2>
    The must haves stocked up in your fridge and pantry to make sure you can always make something tasty. Obviously not all of these ingredients have a long shelf life, but always nice to have.
</h2>
<div class="pantry__wrapper">
    <div class="pantry__list">
        <h3>
            General Pantry
        </h3>
        <ul>
            <li class="musthave">Coarse Sea Salt</li>
            <li class="musthave">Kosher Salt</li>
            <li>Plain Flour</li>
            <li>Arrowroot Flour (or Cornstarch)</li>
            <li>Baking Powder</li>
            <li class="musthave">Sugar (White and Brown)</li>
            <li class="musthave">Canned Tomatoes</li>
            <li>Canned Black Beans</li>
            <li>Canned Chickpeas</li>
            <li>Canned Coconut Milk</li>
            <li>Canned Chipotle in Adobo Sauce</li>
            <li>Various Nuts (Almonds, Peanuts, Pinenuts, Pepitas etc)</li>
            <li>Nutritional Yeast</li>
        </ul>
    </div>
    <div class="pantry__list">
        <h3>
            Spices
        </h3>
        <ul>
            <li class="musthave">Cumin (Seeds or Ground)</li>
            <li class="musthave">Cordiander (Seeds or Ground)</li>
            <li>Curry Powder</li>
            <li>Cayenne Pepper</li>
            <li>Smoked Paprika</li>
            <li>Cinnamon</li>
            <li>Garlic Powder</li>
            <li>Onion Powder</li>
            <li class="musthave">Black Peppercorns</li>
            <li>Red Pepper Flakes</li>
        </ul>
    </div>
    <div class="pantry__list">
        <h3>
            Herbs
        </h3>
        <ul>
            <li>Fresh Basil</li>
            <li>Fresh Coriander</li>
            <li>Fresh Thyme</li>
            <li>Fresh Mint</li>
            <li>Fresh Chives</li>
            <li>Dried Bay Leaves</li>
            <li>Rosemary</li>
        </ul>
    </div>
    <div class="pantry__list">
        <h3>
            Fats, Oils &amp; Sauces
        </h3>
        <ul>
            <li class="musthave">Salt Free Butter</li>
            <li class="musthave">Extra Virgin Olive Oil</li>
            <li>Canola or Vegetable Oil</li>
            <li>Sesame Oil</li>
            <li>White Vinegar</li>
            <li>Rice Wine Vinegar</li>
            <li>Tomato Paste (in a tube)</li>
            <li>Soy Sauce</li>
            <li>Sriracha</li>
            <li>Honey</li>
            <li>Miso Paste</li>
            <li>Red or Green Curry Paste</li>
        </ul>
    </div>
    <div class="pantry__list">
        <h3>
            Grains &amp; Pastas
        </h3>
        <ul>
            <li class="musthave">Basmatti Rice</li>
            <li>Arborio Rice</li>
            <li>Cous Cous</li>
            <li>Quinoa</li>
            <li>Lentils</li>
            <li>Japanese Ramen Noodles</li>
            <li>Angel Hair Pasta</li>
            <li>Orecchiette (or your favorite kind of pasta)</li>
        </ul>
    </div>
    <div class="pantry__list">
        <h3>
            Fridge
        </h3>
        <ul>
            <li class="musthave">Parmesan Cheese</li>
            <li>Cheddar Cheese</li>
            <li>Cream</li>
            <li>Sour Cream or Crème Fraîche</li>
            <li>Milk</li>
            <li>Tofu</li>
            <li class="musthave">Eggs</li>
            <li>Greek Yogurt</li>
        </ul>
    </div>
    <div class="pantry__list">
        <h3>
            Fruit &amp; Vegetables
        </h3>
        <ul>
            <li class="musthave">Onions (brown and red)</li>
            <li class="musthave">Garlic Cloves</li>
            <li class="musthave">Lemons</li>
            <li>Celery</li>
            <li>Carrots</li>
            <li>Mushrooms</li>
            <li>Potatoes (Starchy, Waxy and All Purpose types)</li>
            <li>Sweet Potato</li>
            <li>Frozen Peas</li>
            <li>Rocket or Lettuce (Salady Stuff)</li>
        </ul>
    </div>
</div>


