---
title: Urban Plate - The Pantry
meta_description: The basics and must-haves to keep in your fridge and pantry and create a tasty meal at any time
layout: internal
---

<style>
body {
    background-color: #f4d3c4;
}
</style>


<h1>
    The Pantry
</h1>
<h2>
    The must haves stocked up in your fridge and pantry to make sure you can always make something tasty.
</h2>
<div class="pantry__wrapper">
    <div class="pantry__list">
        <h3>
            Spices:
        </h3>
        <ul>
            <li>Cumin</li>
            <li>Cordiander Seeds</li>
        </ul>
    </div>
    <div class="pantry__list">
        <h3>
            Pantry:
        </h3>
        <ul>
            <li>Chipolte Chilies in sauce (canned)</li>
            <li>Cordiander Seeds</li>
            <li>Chipolte Chilies in sauce (canned)</li>
            <li>Cordiander Seeds</li>
            <li>Chipolte Chilies in sauce (canned)</li>
            <li>Cordiander Seeds</li>
        </ul>
    </div>
    <div class="pantry__list">
        <h3>
            Fridge:
        </h3>
        <ul>
            <li>Cumin</li>
            <li>Cumin</li>
        </ul>
    </div>
    <div class="pantry__list">
        <h3>
            Fridge:
        </h3>
        <ul>
            <li>Cumin</li>
            <li>Cumin</li>
        </ul>
    </div>
</div>


